<html itemscope itemtype="http://schema.org/Article">
<head>
    <title>Bioinformatics Pipeline</title>
    <!-- BEGIN Pre-requisites -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <!-- END Pre-requisites -->
    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '622015755620-i2pb08g49b59gavbdjledqra79u17as7.apps.googleusercontent.com',
                    scope: 'https://www.googleapis.com/auth/drive.file email profile',
                    prompt: 'consent',
                    immediate: 'false'

                });
            });
        }
    </script>
    <script>
        var developerKey = 'AIzaSyBYQCJZM4Pzm5uZsa_JRhrqzQxnDB2SHU4';
        var appId = '622015755620';
        var oauthToken;
        function loadPicker() {
            gapi.load('picker', {'callback': onPickerApiLoad});
        }
        function onPickerApiLoad() {
            pickerApiLoaded = true;
            createPicker();
        }
        function handleAuthResult(authResult) {
            if (authResult && !authResult.error) {
                oauthToken = authResult.access_token;
                createPicker();
            }
        }

        // A simple callback implementation.
        function pickerCallback(data) {
            if (data.action == google.picker.Action.PICKED) {
                var fileId = data.docs[0].id;
                alert('The user selected: ' + fileId);
            }
        }

        // Create and render a Picker object for searching images.
        function createPicker() {
            if (pickerApiLoaded && oauthToken) {
                var view = new google.picker.View(google.picker.ViewId.DOCS);
                var picker = new google.picker.PickerBuilder()
                        .enableFeature(google.picker.Feature.NAV_HIDDEN)
                        .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                        .setAppId(appId)
                        .setOAuthToken(oauthToken)
                        .addView(view)
                        .addView(new google.picker.DocsUploadView())
                        .setDeveloperKey(developerKey)
                        .setCallback(pickerCallback)
                        .build();
                picker.setVisible(true);
            }
        }


    </script>
</head>
<body>
This is the homepage for Bioinformatics Pipeline
<button id="signinButton">Sign in with Google</button>
<script>
    $('#signinButton').click(function () {
        // signInCallback defined in step 6.
        auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
    });
</script>
<script>
    function signInCallback(authResult) {
        if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            var authcode = {'authcode': authResult['code']}
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/authenticate',
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    // Handle or verify the server response.
                   if(result['status'] == 'ok'){
                        oauthToken = result['access_token'];
                        createPicker();
                   }
                },
                processData: false,
                data: JSON.stringify(authcode),
                dataType: 'json'
            });
        } else {
            // There was an error.
        }
    }
</script>
<a href="#" onclick="signOut();">Sign out</a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>
<div id="result"></div>

<!-- The Google API Loader script. -->
<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
</body>
</html>